* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-color: #4e0a97;
  height: 100vh;
  color: white;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

h1 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.input {
  background-color: white;
  color: #4e0a97;
}

.col {
  padding-right: 10px;
}

.button {
  border-radius: 50px;
  padding: 10px;
  background-color: grey;
  color: white;
}

.output {
  background-color: white;
  color: #4e0a97;
  margin-top: 30px;
}

.ticket {
  text-align: left;
  margin-left: 20px;
}

.namebox {
  background-color: grey;
}

.ticket .row {
  justify-content: flex-start;
}

th {
  padding-left: 20px;
  text-align: center;
}

td {
  padding-left: 20px;
  text-align: center;
}